[Desktop Entry]
Type=Application
Exec=emacs --daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=emacs daemon
Name=emacs daemon
Comment[en_CA]=
Comment=
