[Desktop Entry]
Type=Application
Exec=guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=guake terminal
Name=guake terminal
Comment[en_CA]=
Comment=
